# Application Config

# Set the port the application should listen on
PORT=8000
DOMAIN=localhost
EXTERNAL_PORT=3000

# GitHub OAuth Credentials
GITHUB_CLIENT_ID="replaceme"
GITHUB_CLIENT_SECRET="replaceme"
GITHUB_REDIRECT_URL="https://replace.me:replaceme/auth/github/callback"

# Google OAuth Credentials
GOOGLE_CLIENT_ID="replaceme"
GOOGLE_CLIENT_SECRET="replaceme"
GOOGLE_REDIRECT_URL="https://replace.me:replaceme/auth/google/callback"
